





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <form action="/login" method="post" class="container">
        <div class="container-header">
            <h1>Login</h1>
        </div>
        <div class="main">
            <div class="main-username">
                <input type="text" name="username" id="username">
            </div>
            <div class="main-password">
                <input type="text" name="password" id="password">
            </div>
        </div>
        <div class="btn">
            <button type="submit">Login</button>
        </div>
    </form>
</body>
</html>
