<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/main.css">
    <title>Document</title>
</head>
<body>
    <main>
        <div class="wrapper">
            <div class="div-container">
                <br>
                <div class="dp">
                    <img src="<%= img %>" alt="">
                </div>
                <div class="detail">
                    <h1> <%= username %></h1>
                    <h3> <%= email %> </h3>
                </div>
                <form action="/upload" method="post" enctype="multipart/form-data">
                    <input type="file" name="file" id="file">
                    <button type="submit">Upload</button>
                </form>
                <form action="/logout" method="post" >
                    <button type="submit">logout</button>
                </form>
                <br>
                <form action="/createpost" method="post" enctype="multipart/form-data">
                    <!-- <label for="post-text">enter your text:</label> -->
                    <!-- <input type="text" name="post-text" id="post-text"/> -->
                    <input type="file" name="post-img" id="post-img">
                    <button type="submit">POST</button>
                </form>
                <div class="post-container">
                    <hr>
                </div>
            </div>     
        </div>
    </main>
</body>
</html>